*
{
    margin:0px;
    padding:0px;
    
    }
body
{
    font-size:14px;
    background:url("../img/bg.png") no-repeat fixed center 0 rgba(0, 0, 0, 0);
    font-family:Lora;
}
.wrapper
{
   width:985px;
 
   height:500px;
   margin:0 auto;
}
.header
{
   background:url("../img/line_header.png") repeat-x scroll center 0;
   height:30px;
}
.menu
{
     background:url("../img/menu.png") repeat-x scroll center 0;
   height:45px;
    }
    .logo {
    margin-top: -30px;
    position: absolute;
    width: 135px;
    margin-left:35px;
    z-index:10000;
}
.menu_top
{
    float:right;
    
    }
ul.menu_v li {
    background: url("../img/line_menu.png") no-repeat scroll right 17px rgba(0, 0, 0, 0);
    color: #f6f6f6;
    float: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 45px;
    list-style: none outside none;
    padding-left: 30px;
    padding-right: 30px;
    text-transform: uppercase;
    cursor:pointer;
}
ul.menu_v li:hover
{
     color:red
    }
ul.menu_v li:last-child
{
   background:none; 
    }
ul.menu_v li ul {
    background: none repeat scroll 0 0 #573020;
    margin-left: -33px;
    margin-top: -1px;
    position: absolute;
    z-index: 10000;
    width:200px;
  display:none;
}
ul.menu_v li ul li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #CCCCCC;
    clear: both;
    line-height: 35px;
    width: 100%;
}
ul.menu_v li ul li:last-child
{
    border-bottom:none;
    }
ul.menu_v li:hover ul
{
    display:block;
    }
.project {
    height: 200px;
    margin-left: 5px;
    margin-right: 5px;
}
.footer
{

    height:37px;
    border:1px solid #CCC;
    background: url("../img/footer-2.png") repeat-x scroll 0px 0px rgba(0, 0, 0, 0);
    clear:both;
    }
       
       
.tab1_l {
    float: left;
    height: 175px;
    margin-bottom: 11px;
    margin-left: 10px;
    width: 308px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.tab1_l img{
    width: 100%;
}
.tab1_l a{
    color: #ffffff;
}
.tab1_l div.tab_img{
    height: 80%;
    overflow: hidden;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.title_tab1 {
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 16%;
    padding-top: 12px;
    background: url("../img/bg-title.png");
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.title_tab1 h2{
    margin-top: -5px;
}
.news_fi {
    border: 2px solid #FF6B00;
    border-radius: 10px;
    float: right;
    height: 175px;
    margin-right: 10px;
    width: 300px;
}
.news_fi .tab_img{
   height: 80%;
}
.header_news_fi {
    color: #FF6B00;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 10px;
    text-transform: uppercase;
}
.n_e > li {
    font-size: 14px;
    line-height: 32px;
    margin-left: 19px;
}
.footer_left {
    float: left;
    font-weight: bold;
    line-height: 35px;
    margin-left: 15px;
}
.footer_right {
    float: right;
    font-weight: bold;
    line-height: 35px;
    margin-right: 15px;
}
.btn_share {
    float: right;
    width: 100px;
}
.column_left {
   
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 60px;
    width: 182px;
    min-height: 430px;
}
.column_right {
    float: right;
    margin: 60px 45px 20px 0;
    width: 700px;
}
.header_menu_ver {
    border-bottom: 2px solid #FF7400;
    color: #FF7400;
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 8px;
    text-transform: uppercase;
}
.arrows {
    background: url("../img/arrow.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 10px;
    margin-left: -15px;
    margin-top: 4px;
    position: absolute;
    width: 10px;
}
    .arrows1 {
    background: url("../img/arrow.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 10px;
    margin-left: -15px;
    margin-top: 8px;
    position: absolute;
    width: 10px;
}
.m_n_v > li {
    color: #656565;
    line-height: 28px;
    list-style: none outside none;
    padding-left: 15px;
    position:relative;
}
.m_n_v > li.active{
   font-weight: bold;
}

.m_n_v {
   
}
.des {
    color: #FF6B00;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 15px;
    text-transform: uppercase;
    width:92%;
}
.nd
{
    text-align:justify;
      width:92%;
    }
    a
    {
        color:Black;
        
        }
.nen_bgs {
    background: url("../Slide/nene.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 370px;
    margin-left: -8px !important;
    margin-top: -14px !important;
    position: absolute;
    width: 630px;
}
img
{
    border:0;
    }
    .active
    {
        color:#ff0000 !important;
        }
        
           .activev a
    {
       
        }
        a
        {
            text-decoration:none;
            }
            
            .slide {
    height: 445px;
}
.bgslider{
    background: url("../img/bg-slider-2.png") no-repeat ;
    height: 30px;
    width: 100%;
    margin-top: -10px;
}
.slide ul li{
    overflow: hidden;
}
.slide img{
    width: 985px;
}



.listNews {
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #dddddd;
    height: 120px;
    padding-bottom: 15px;
}
.listNews div{
    float: left;
    height: 120px;
    overflow: hidden;
}
.listNews div.newleft{
    overflow: hidden;
    width: 20%;
    overflow: hidden;
}
.listNews div.newleft img{

}
.listNews div.newright{
    width: 77%;
    padding-left: 3%;
}
.listNews div.newright h2{
    margin-top: 0px;
}
.open{
    color: #FF0000 !important;
}
.content-news{
    min-height: 500px;
    margin-left: 20px;
    margin-top: 50px;
}


.about-right {
    float: right;
    background: url("../img/bg_contact_info-3.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
    overflow: hidden;
    padding: 0 25px;
    width: 180px;
    height: 400px;
}
.about-right ul {
   margin-top: 28px;
}
.about-right li {
    background: url("../img/bg_info_line.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    overflow: hidden;
    padding: 12px 0 11px;
}
.about-right  h4 {
    background: url("../img/bg_info_line_3.png") no-repeat scroll 0 bottom rgba(0, 0, 0, 0);
    font-size: 13px;
    padding: 14px 0 10px;
    text-align: center;
    text-shadow: 1px 1px #373737;
    text-transform: uppercase;
}

.about-right li span, .about-right li strong {
    color: #FFFFFF;
    float: left;
    padding: 2px 0 0 6px;
}

.about-right li img {
    float: left;
    margin-top: 5px;
}
.about-left {
    float: left;
    width: 50%;
}