/* Skitter styles */

.box_skitter {position:relative;height:415px;}
.box_skitter ul {display:none;}
.box_skitter .container_skitter {overflow:hidden;position:relative;}
.box_skitter .image {overflow:hidden;}
.box_skitter .image img {display:none;}

.box_skitter .box_clone {position:absolute;top:0;left:0;width:100px;overflow:hidden;display:none;z-index:20;}
.box_skitter .box_clone img {position:absolute;top:0;left:0;z-index:20;}

.box_skitter .prev_button {position:absolute;top:30%;left:12px;z-index:100;width:42px;height:42px;overflow:hidden;text-indent:-9999em;margin-top:50px;background:url(../img/prev.png) no-repeat left top;}
.box_skitter .next_button {position:absolute;top:30%;right:12px;z-index:100;width:42px;height:42px;overflow:hidden;text-indent:-9999em;margin-top:50px;background:url(../img/next.png) no-repeat left top;}





.box_skitter .box_scroll_thumbs {padding:0 10px;}
.box_skitter .box_scroll_thumbs .scroll_thumbs {position:absolute;bottom:60px;left:50px;background:#ccc;background:-moz-linear-gradient(-90deg, #555, #fff);background:-webkit-gradient(linear, left top, left bottom, from(#555), to(#fff));width:200px;height:10px;overflow:hidden;text-indent:-9999em;z-index:101;-moz-border-radius:20px;-webkit-border-radius:20px;border-radius:20px;cursor:pointer;border:1px solid #333;}


.box_skitter .info_slide_dots {position:absolute;top:112px;z-index:100;padding:5px 0 5px 5px;-moz-border-radius:50px;-webkit-border-radius:50px;border-radius:50px; right:0px !important;}

.box_skitter .info_slide_dots .image_number {border:1px solid #FFFFF;float:left;margin:0 5px 0 0;cursor:pointer;height:10px;text-indent:-9999em;overflow:hidden; }

.box_skitter .info_slide_dots .image_number_select {float:left;margin:0 5px 0 0;}

.box_skitter .label_skitter {z-index:150;position:absolute;bottom:0px;left:0px;display:none;}

.loading {position:absolute; top:50%; right:50%; z-index:10000; margin:-16px -16px;color:#fff;text-indent:-9999em;overflow:hidden;background:url(../img/ajax-loader.gif) no-repeat left top;width:32px;height:32px;}

/**
 * Example for dimenions:
 */
.box_skitter_large {height:415px;}
